@font-face {
    font-family: 'ItalianPlate';
    src: url('../fonts/ItalianPlateNo2-Regular.otf') format('opentype');
    /* font-weight: normal;
    font-style: normal; */
  }



:root {
    --font-colfax: 'Colfax', sans-serif;
    --font-italian-plate: 'ItalianPlate', sans-serif;
}

body {
    font-family: 'Colfax', sans-serif;
}



  /* #observablehq-header {
    position: absolute;
    justify-content: right;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 50px;
    margin: none;
    padding: none;

    background-color: #000;
    color: #fff;
    border: none;
  }

  #custom-header {
    margin-right: 10px;
  } */









  /* #observablehq-footer {
    
    margin-bottom: none;
    padding-bottom: none;
  }

  #custom-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #000;
    margin: none;
    margin-top: 2rem;
    padding: 1rem;
    left:0;
    width: 100vw;
    height: 50px;

    font-size: 1rem;
    color: #fff
  }

  #observablehq-sidebar > ol:first-child > li > a {
    background-color: #000;
    color: #fff;
  }

  #observablehq-sidebar > ol:first-child > li {
    background-color: #000;
    height: 50px;
  }

  #observablehq-sidebar > ol:first-child::before {
    background-color: #000;
    
} */

.toggleCustom > div > form {
    flex-direction: row-reverse;
    justify-content: left;
    width: 100%
}


.toggleCustom > div > form > label {
    width: 100%
}
